<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <label for="projectName">Project Name</label>
          <div class="input-group">
            <input
              type="text"
              id="projectName"
              formControlName="projectName"
              class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-outline-primary" (click)="genName()" type="button">
                  <i class="bi bi-dice-{{ diceRoll }}"></i>
              </button>
            </span>
          </div>
          <span class="help-block" *ngIf="projectForm.get('projectName').invalid && projectForm.get('projectName').touched">
            <span *ngIf="projectForm.get('projectName').errors.required">This field is required!</span>
            <span *ngIf="projectForm.get('projectName').errors.nameIsForbidden">This name is invalid!</span>
          </span>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              formControlName="email"
              id="email"
              class="form-control">
          </div>
          <span class="help-block" *ngIf="projectForm.get('email').invalid && projectForm.get('email').touched">
            <span *ngIf="projectForm.get('email').errors.required">This field is required!</span>
          </span>
          <select name="statusSelect" id="statusSelect" class="form-control">
            <option value="Stable">Stable</option>
            <option value="Critical">Critical</option>
            <option value="Finished">Finished</option>
          </select>
          <button class="btn btn-primary" type="submit" [disabled]="projectForm.invalid">Submit</button>
      </form>
    </div>
  </div>
</div>
